html, body, div, h1, p {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}

a {
  color: #0F4D92;
  text-decoration: none;
  text-shadow: 2px 2px #A3CCFA;
}
#header {
  height: 40px;
}
#header h1 {
  color: #0F4D92;
  padding: 0 10px;
  line-height: 40px;
  text-shadow: 2px 2px #A3CCFA;
}
#about {
  padding: 0;
  font-size: 95%;
  text-align: right;
  color: #111;
  position: absolute;
  right: 10px;
  top: 5px;
}
#board {
  
}

#error {
  display: none;
  border: 2px solid red;
  background-color: #FFDDDD;
  color: black;
}