html, body, div, h1, p {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}

a {
  color: #0F4D92;
  text-decoration: none;
  text-shadow: 2px 2px #A3CCFA;
}

label {
  display: block;
}
p.submit {
  margin: 10px 0;
}
#header {
  height: 40px;
}
#header h1 {
  color: #0F4D92;
  padding: 0 10px;
  line-height: 40px;
}
#about {
  padding: 0;
  font-size: 95%;
  text-align: right;
  color: #111;
  position: absolute;
  right: 10px;
  top: 5px;
}
#board {
  
}

#content {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 600px;
}
.wide #content {
  max-width: none;
  padding: 0;
  margin: 0;
}
#error {
  display: none;
  border: 2px solid red;
  background-color: #FFDDDD;
  color: black;
}