<div id="board_<%= resource.id %>"></div>

<% content_for :footer do %>
<script type="text/javascript">
  $(document).ready(function(){
    b = new Board({id: "<%= resource.id %>"}, 'board_<%= resource.id %>');
    b.loadData();
  });

</script>
<% end %>