<!DOCTYPE html>
<html>
<head>
  <title>Endless Sudoku &mdash; The Fighting Wieners</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag %w(jquery raphael board application) %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="header">
    <h1>Endless Sudoko</h1>
    <p id="about">A game created for 
      <a href="http://railsrumble.com/">Railsrumble 2010</a>
      and brought to you by
      <a href="http://twitter.com/cypher">Markus Prinz</a> and
      <a href="http://ananasblau.com">Thomas R. Koll</a><br />
      Heavenly inspried by <a href="http:/scrabb.ly">scrabb.ly</a>
    </p>
  </div>
  <div id="error"></div>
  <%= yield %>

</body>
</html>
