<!DOCTYPE html>
<html>
<head>
  <title>Endless Sudoku &mdash; The Fighting Wieners</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag %w(jquery raphael board application) %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= yield %>

</body>
</html>
